In [2]:
import os
import sys
curruser = os.environ.get('USER')

_labdata = os.environ.get("LABDATA_PYSPARK")
sys.path.insert(0, _labdata)

if curruser in os.listdir("/opt/workspace/"):
    sys.path.insert(0, '/opt/workspace/{user}/notebooks/support_library/'.format(user=curruser))
    sys.path.insert(0, '/opt/workspace/{user}/libs/python3.5/site-packages/'.format(user=curruser))
    # sys.path.insert(0, '/opt/workspace/{user}/notebooks/labdata_v1.2/lib/'.format(user=curruser))
else:
    sys.path.insert(0, '/home/{}/notebooks/support_library/'.format(curruser))
    sys.path.insert(0, '/home/{}/python35-libs/lib/python3.5/site-packages/'.format(curruser))
    # sys.path.insert(0, '/home/{}/notebooks/labdata/lib/'.format(curruser))

#import tendo.singleton
import warnings
warnings.filterwarnings('ignore')

import joblib
import json
from joblib import Parallel, delayed

from time import sleep
from itertools import islice
from multiprocessing import Pool, Process, JoinableQueue
from multiprocessing.pool import ThreadPool
from functools import partial
import subprocess
from threading import Thread
import time
from datetime import datetime as dt

from transliterate import translit

from lib.spark_connector import SparkConnector
from lib.sparkdb_loader import *
from lib.connector import OracleDB
import pyspark
from pyspark import SparkContext, SparkConf, HiveContext
from pyspark.sql.window import Window
from pyspark.sql.functions import *
import pyspark.sql.functions as f
from pyspark.sql.types import *
from pyspark.sql.dataframe import DataFrame

import re
import pandas as pd
import numpy as np
from tqdm._tqdm_notebook import tqdm_notebook
from pathlib import Path
import shutil
import loader as load
from collections import ChainMap

from lib.config import *
from lib.tools import *

# sing = tendo.singleton.SingleInstance()

# os.chdir('/opt/workspace/ektov1-av_ca-sbrf-ru/notebooks/Clickstream_Analytics/AutoUpdate/')
# os.chdir('/opt/workspace/{}/notebooks/clickstream/AutoUpdate/'.format(curruser))

def show(self, n=10):
    return self.limit(n).toPandas()

def typed_udf(return_type):
    '''Make a UDF decorator with the given return type'''

    def _typed_udf_wrapper(func):
        return f.udf(func,return_type)

    return _typed_udf_wrapper

pyspark.sql.dataframe.DataFrame.show = show

def print_and_log(message: str):
    print(message)
    logger.info(message)
    return None

In [3]:
CONN_SCHEMA='sbx_team_digitcamp'

In [4]:
%%time
sp = spark(schema=CONN_SCHEMA,
               dynamic_alloc=False,
               numofinstances=5,
               numofcores=8,
               executor_memory='25g',
               driver_memory='25g',
               kerberos_auth=True,
               process_label="SAS_ANALYT_"
               )

hive = sp.sql
print(sp.sc.version)

2.4.0.cloudera2
CPU times: user 50.9 ms, sys: 48.9 ms, total: 99.8 ms
Wall time: 28.7 s

====================================================== 2021-08-16 ======================================================
# __init__ : begin

In [ ]:
# conn_schema = 'sbx_team_digitcamp'
table_name = 'MA_CMDM_MA_AGREEMENT' #'MA_CMDM_MA_DEAL_NEW'

In [20]:
agrmnt = hive.sql('''select distinct FIN_AGRMNT_TYPE_DESC from sbx_team_digitcamp.MA_CMDM_MA_AGREEMENT''').collect()

KeyboardInterrupt:

In [ ]:
sql = \
'''
select * from sbx_team_digitcamp.MA_CMDM_MA_AGREEMENT agrm
left join sbx_team_digitcamp.MA_CMDM_MA_DEAL_NEW deal
on (agrm.inn = deal.inn) and
   () 
'''

In [19]:
hive.sql('''select * from {}.{} where ((ACCT_SIGNED_DT is not Null) and (ACCT_CLOSE_DT is not Null)) and 
                                      ( abs( unix_timestamp(ACCT_SIGNED_DT) - 
                                             unix_timestamp(ACCT_CLOSE_DT) ) <= 2 * 24 * 60 * 60) and
                                      (FIN_AGRMNT_TYPE_DESC like '%РКО%') and       
                                      ( acct_signed_str >= '2021-02-01' )'''.format(CONN_SCHEMA, table_name)).show(40)

,AGREEMENT_ID,INN,KPP,ACCT_SIGNED_DT,CONTRACT_EXPIRATION_DT,ACCT_CLOSE_DT,FIN_AGRMNT_TYPE_DESC,ISO_CRNCY_CD,CRNCY_CD,AGREEMENT_NUM,ANALYTIC_CLOSE_DT,acct_signed_str
0,21492107886.0000000000,3525430070,352501001,2021-04-01,None,2021-04-02 00:00:00,Договор РКО,RUR,810,40702810312000015534,None,2021-04-01
1,21867120658.0000000000,7802891379,780201001,2021-04-07,None,2021-04-08 00:00:00,Договор РКО,RUR,810,40702810855000091868,None,2021-04-01
2,22131850134.0000000000,110113846788,None,2021-04-12,None,2021-04-12 00:00:00,Договор РКО,RUR,810,40802810428000001758,None,2021-04-01
3,22712928004.0000000000,0103007858,010101001,2021-04-28,None,2021-04-30 00:00:00,Договор РКО,RUR,810,40703810401000000336,None,2021-04-01
4,20481850222.0000000000,7202202500,720301001,2021-03-02,None,2021-03-03 00:00:00,Договор РКО,RUR,810,40702810116540014696,None,2021-03-01
5,20479123591.0000000000,7202202500,720301001,2021-03-02,None,2021-03-03 00:00:00,Договор РКО,RUR,810,40702810716540011028,None,2021-03-01
6,20527244026.0000000000,7451340429,745101001,2021-03-03,None,2021-03-04 00:00:00,Договор РКО,RUR,810,40702810072000011616,None,2021-03-01
7,20958139092.0000000000,051203013200,None,2021-03-17,None,2021-03-18 00:00:00,Договор РКО,RUR,810,40802810860320027544,None,2021-03-01
8,21251737059.0000000000,5042142260,504201001,2021-03-25,None,2021-03-26 00:00:00,Договор РКО,RUR,810,40702810317000006388,None,2021-03-01
9,21443981695.0000000000,6949112968,694901001,2021-03-31,None,2021-03-31 00:00:00,Договор РКО,RUR,810,40702810650000038220,None,2021-03-01
10,23055978743.0000000000,0816036650,081601001,2021-05-11,None,2021-05-11 00:00:00,Договор РКО,RUR,810,40821810960300000035,None,2021-05-01
11,24089473141.0000000000,7017482838,701701001,2021-06-09,None,2021-06-10 00:00:00,Договор РКО,USD,840,40702840264000000018,None,2021-06-01
12,24089473509.0000000000,7017482838,701701001,2021-06-09,None,2021-06-10 00:00:00,Договор РКО,RUR,810,40702810964000016882,None,2021-06-01
13,24686342203.0000000000,130601322290,None,2021-06-28,None,2021-06-29 00:00:00,Договор РКО,RUR,810,40802810839000014510,None,2021-06-01
14,21492107898.0000000000,165055027227,None,2021-04-01,None,2021-04-02 00:00:00,Договор РКО,RUR,810,40802810562000070200,None,2021-04-01
15,22179309555.0000000000,4101160142,410101001,2021-04-13,None,2021-04-13 00:00:00,Договор РКО,RUR,810,40702810636170005786,None,2021-04-01
16,22323637910.0000000000,593100475501,None,2021-04-16,None,2021-04-16 00:00:00,Договор РКО,RUR,810,40802810649770071876,None,2021-04-01
17,22470544031.0000000000,772065049611,None,2021-04-21,None,2021-04-23 00:00:00,Договор РКО,RUR,810,40802810638000193503,None,2021-04-01
18,21865528794.0000000000,2465338639,246501001,2021-04-07,None,2021-04-08 00:00:00,Договор РКО,RUR,810,40702810231000040832,None,2021-04-01
19,22082779700.0000000000,110402304008,None,2021-04-09,None,2021-04-09 00:00:00,Договор РКО,RUR,810,40802810004000023054,None,2021-04-01
20,22081281504.0000000000,665403633754,None,2021-04-09,None,2021-04-09 00:00:00,Договор РКО,RUR,810,40802810816540089478,None,2021-04-01
21,22229305649.0000000000,360702824220,None,2021-04-14,None,2021-04-14 00:00:00,Договор РКО,RUR,810,40802810938060000776,None,2021-04-01
22,25186346819.0000000000,None,None,2021-07-12,None,2021-07-12 12:10:07,Договор РКО,RUR,810,None,None,2021-07-01
23,25235989270.0000000000,421201852963,None,2021-07-13,None,2021-07-14 00:00:00,Договор РКО,RUR,810,40810810326009001112,None,2021-07-01
24,25336245936.0000000000,773004871671,None,2021-07-15,None,2021-07-15 00:00:00,Договор РКО,RUR,810,40802810138180001028,None,2021-07-01
25,22032901657.0000000000,772326523638,None,2021-04-08,None,2021-04-08 00:00:00,Договор РКО,RUR,810,40802810938120001000,None,2021-04-01
26,22178136685.0000000000,662302261215,None,2021-04-13,None,2021-04-13 00:00:00,Договор РКО,RUR,810,40802810616540089788,None,2021-04-01
27,22323636304.0000000000,370142621422,None,2021-04-16,None,2021-04-16 00:00:00,Договор РКО,RUR,810,40802810917000021388,None,2021-04-01
28,22081282218.0000000000,860204219150,None,2021-04-09,None,2021-04-09 00:00:00,Договор РКО,RUR,810,40802810167100034254,None,2021-04-01
29,22226596773.0000000000,230200921109,None,2021-04-14,None,2021-04-14 00:00:00,Договор РКО,RUR,810,40802810130000125454,None,2021-04-01
30,22228612152.0000000000,543325084463,None,2021-04-14,None,2021-04-14 00:00:00,Договор РКО,RUR,810,40802810444050005866,None,2021-04-01
31,22275369062.0000000000,490500023653,None,2021-04-15,None,2021-04-16 00:00:00,Договор РКО,RUR,810,40802810436000006612,None,2021-04-01
32,22179264366.0000000000,461401064901,None,2021-04-13,None,2021-04-13 00:00:00,Договор РКО,RUR,810,40802810333000023856,None,2021-04-01
33,22275102593.0000000000,890202568405,None,2021-04-15,None,2021-04-15 00:00:00,Договор РКО,RUR,810,40802810767450004538,None,2021-04-01
34,22519163554.0000000000,7703775519,770301001,2021-04-22,None,2021-04-23 00:00:00,Договор РКО,RUR,810,40702810938260000087,None,2021-04-01
35,20669626992.0000000000,7713480987,771301001,2021-03-09,None,2021-03-09 00:00:00,Договор РКО,RUR,810,40702810238000065788,None,2021-03-01
36,20956251777.0000000000,223800201341,None,2021-03-17,None,2021-03-17 00:00:00,Договор РКО,RUR,810,40802810802000037010,None,2021-03-01
37,21492107096.0000000000,602509637716,None,2021-04-01,None,2021-04-02 00:00:00,Договор РКО,RUR,810,40802810551000009450,None,2021-04-01
38,22227003718.0000000000,141300539450,None,2021-04-14,None,2021-04-14 00:00:00,Договор РКО,RUR,810,40802810976000037912,None,2021-04-01
39,22275101507.0000000000,772372832616,None,2021-04-15,None,2021-04-15 00:00:00,Договор РКО,RUR,810,40802810438290000185,None,2021-04-01

In [11]:
prod_dict = hive.sql('''select CRM_PRODUCT_ID, 
                               PRODUCT_CRM_NM, 
                               PRODUCT_CD_MMB,
                               PRODUCT_FULL_NM,
                               PRODUCT_SUBGROUP,
                               PRODUCT_GROUP,
                               CRM_ACTIVE_FLG
                        from sbx_team_digitcamp.ma_dict_v_product_dict
                     ''')

In [12]:
deals = \
hive.sql(''' select 
                    inn, 
                    create_dt,
                    complete_dt,
                    host_prod_id,
                    --close_reason_type_name,
                    appl_stage_name
                    --appl_type_name,
                    --channel_mmb_ms,
                    --channel_mmb_ckr,
                    --channel_mmb_mkk,
                    --channel_dzo  
             from {}.{} where (inn = '2221191879') and
                              (creation_month in ('2021-02-01', 
                                                  '2021-03-01',
                                                  '2021-04-01',
                                                  '2021-05-01') )'''.format(CONN_SCHEMA, "MA_CMDM_MA_DEAL_NEW"))

In [27]:
deals = \
hive.sql(''' select 
                    inn, 
                    create_dt,
                    complete_dt,
                    host_prod_id,
                    --close_reason_type_name,
                    appl_stage_name
                    --appl_type_name,
                    --channel_mmb_ms,
                    --channel_mmb_ckr,
                    --channel_mmb_mkk,
                    --channel_dzo  
             from {}.{} where (inn = '6950154017') and
                              (creation_month = '2021-02-01') '''.format(CONN_SCHEMA, "MA_CMDM_MA_DEAL_NEW"))

In [13]:
conditions = (prod_dict.CRM_PRODUCT_ID == deals.host_prod_id)
res = deals.join(prod_dict, on=conditions)

In [14]:
res.show(20)

,inn,create_dt,complete_dt,host_prod_id,appl_stage_name,CRM_PRODUCT_ID,PRODUCT_CRM_NM,PRODUCT_CD_MMB,PRODUCT_FULL_NM,PRODUCT_SUBGROUP,PRODUCT_GROUP,CRM_ACTIVE_FLG
0,2221191879,2021-02-11 06:05:05,None,1-115HHZC,06. Доставка документов,1-115HHZC,Открытие банковского счета с договором-констру...,RKO,Открытие расчетного счета,РКО,РКО,1
1,2221191879,2021-02-11 06:06:44,None,1-HLPSUHX,01.Ввод данных,1-HLPSUHX,ПУ Легкий старт,None,None,РКО,РКО,1
2,2221191879,2021-02-11 06:06:47,None,1-115HHZC,01.Ввод данных,1-115HHZC,Открытие банковского счета с договором-констру...,RKO,Открытие расчетного счета,РКО,РКО,1

In [173]:
startdt = dt.now()

#/////////////////////////////////////////////////////////////////////////////////////
descr = hive.sql("describe extended {}.{}".format(conn_schema,table_name)).collect()
hasPartitioned = len([item.asDict() for item in descr if item.asDict()['col_name'] =='# Partition Information']) > 0
if hasPartitioned:
    try:
        parts = hive.sql("show partitions {}.{}".format(conn_schema,table_name)).collect()
        max_part = sorted(parts, reverse=True)[0]['partition']
        extract_date=re.compile("\d{4}\-\d{2}\-\d{2}")
        ext = extract_date.search(max_part)
        try:
            max_trunc_dt = ext.group(0)
        except:
            max_trunc_dt = None
    except (AnalysisException, IndexError):
        max_trunc_dt = None
else:
    max_trunc_dt = None
#/////////////////////////////////////////////////////////////////////////////////////

In [174]:
if max_trunc_dt is not None:
  sql = '''select * from {}.{} where creation_month in 
                 ('2021-06-01', '2021-05-01',' 2021-04-01') '''.format(conn_schema, table_name)
else:
  sql = '''select * from {}.{}'''.format(conn_schema,table_name)

deals = hive.sql(sql)
# max_resp_dt_str = dt.strftime(max_dt, format='%Y-%m-%d %H:%M:%S.%f')

In [150]:
deals.select('appl_stage_name').distinct().show(20)

                        appl_stage_name
0                      12.Закрыта/Отказ
1            07.Подготовка документации
2   05. Подготовка документов по сделке
3                04.Тендерная процедура
4         04.2.Ожидание оформ. обеспеч.
5                      Договор подписан
6         02.Предварительные переговоры
7         03.Подписание док-ии Клиентом
8                     Закрыта/Заключена
9                                  None
10                            09.Оплата
11               Верификация заключения
12                     Принятие решения
13                         Отказ банком
14                 06.Закрыта/Заключена
15                 03.Рассмотрена в МСХ
16               06.Подписание договора
17  05. Подготовка документов по cделке
18               Предварительный анализ
19      04. Анализ документов по сделке

## Cancelled Deals

In [270]:
deals_d = \
deals.filter((f.col('appl_stage_name').like("%Закрыта/Отказ%"))&
             (~f.isnull(f.col('close_reason_type_name')))&
             (~f.isnull(f.col('product_cd_mmb')))
            ) 
    
deals_d = deals_d.select('inn', 'product_cd_mmb', f.lit(1).alias('flg_deal_deny'))

deals_deny = deals_d.groupBy('product_cd_mmb').agg(f.count('flg_deal_deny').alias('cnt_deals_deny')).orderBy(f.col('cnt_deals_deny').desc())

In [271]:
deals_deny.cache()

DataFrame[product_cd_mmb: string, cnt_deals_deny: bigint]

In [272]:
deals_deny.show()

  product_cd_mmb  cnt_deals_deny
0   CREDCORPCARD           20285
1      SMARTCRED            4917
2      SMARTCARD            2055
3     EINVOICING             957
4       CORPCARD             912
5     SALARYPROJ             840
6    2216GARANTY             697
7            RKO             547
8  MOMENTBIZCARD             428
9        TELEMED             341

## Succeeded Deals

In [273]:
deals_s = \
deals.filter(f.col('appl_stage_name').like("%Закрыта/Заключена%")) \
     .filter(f.isnull(f.col('close_reason_type_name'))&(~f.isnull('product_cd_mmb'))
            ) \
     .select('inn', 
             'product_cd_mmb', 
             f.col('SUM_RUB').cast(IntegerType())
            ).orderBy(f.col('SUM_RUB').desc())

deals_succ = deals_s.groupBy('product_cd_mmb').agg(f.count('SUM_RUB').alias('cnt_deals_succ'),
                                                   f.sum('SUM_RUB').alias('total_sum_rub')
                                                  ).orderBy(f.col('cnt_deals_succ').desc())

In [274]:
deals_succ.cache()

DataFrame[product_cd_mmb: string, cnt_deals_succ: bigint, total_sum_rub: bigint]

In [275]:
deals_succ.show()

  product_cd_mmb  cnt_deals_succ  total_sum_rub
0            RKO           42582         288452
1     MINBALANCE           42506     6565099043
2     ENCASHSELF           36517           1946
3        DEPOSIT           30560     2678459350
4      SMSINFORM           15339          73789
5  MOMENTBIZCARD           14019             44
6      ACQUIRING           10571       87573912
7   CREDCORPCARD            9764        8427297
8       CORPCARD            7576          10184
9           SPPU            6167          35991

## MA_PRODUCT_DICT

In [329]:
prod_dct = hive.sql("select * from {}.{} where CRM_PRODUCT_ID is not Null".format(conn_schema, 'ma_dict_v_product_dict'))
prod_dct = prod_dct.filter("(PRODUCT_CD_MMB is not Null) and (PRODUCT_SHORT_NM is not Null)")

prod_dct.columns

['ID',
 'CRM_PRODUCT_ID',
 'PRODUCT_CRM_NM',
 'CRM_ACTIVE_FLG',
 'PRODUCT_CD_KSB',
 'PRODUCT_CD_RGS',
 'PRODUCT_CD_MMB',
 'PRODUCT_CD_ASUP',
 'PRODUCT_SHORT_NM',
 'PRODUCT_FULL_NM',
 'PARTNER_NM',
 'CHANNEL_SALE',
 'CHANNEL_KKSB_ISKRA',
 'CHANNEL_KKSB_EFS',
 'CHANNEL_RGS_ISKRA',
 'CHANNEL_ECO_EXPERT',
 'CHANNEL_MMB_MS',
 'CHANNEL_MMB_CKR',
 'CHANNEL_MMB_MKK',
 'CHANNEL_DZO',
 'AGG_FORMULA_KSB',
 'AGG_FORMULA_RGS',
 'CNT_DAY_DEAL',
 'PRODUCT_SUBGROUP',
 'PRODUCT_GROUP',
 'PRODUCT_TYPE',
 'PRODUCT_PRIORITY']

## MA_MMB_OFFER_NONTOP

In [336]:
nontop = hive.sql("select * from {}.{} where (INN is not Null) and (CREATE_DTTM >= timestamp('2021-04-01'))".format(conn_schema, 'MA_MMB_OFFER_NONTOP'))

In [337]:
def getProdCDFromId(product_dict_nm):
    def get_product(product_id, product_dict_nm):
        if product_id is None:
            return None

        for _id in product_dict_nm:
            if product_id == _id:
                return product_dict_nm[_id]

        return list([])

    return f.udf(lambda x: get_product(x,product_dict_nm), ArrayType(StringType()))

w2=Window.partitionBy('HASHINN', 'CRM_PRODUCT_ID').orderBy("COEF_PRODUCT_CD")

product_dict_sp = prod_dct.select('ID', 
                                  'CRM_PRODUCT_ID', 
                                  'PRODUCT_CD_MMB',
                                  'PRODUCT_SHORT_NM',
                                  'PRODUCT_GROUP', 
                                  'PRODUCT_SUBGROUP')

product_dict_pd = product_dict_sp.collect()
product_dict_nm = {row.ID: (row.CRM_PRODUCT_ID, 
                            row.PRODUCT_CD_MMB, 
                            row.PRODUCT_SHORT_NM,
                            row.PRODUCT_GROUP,
                            row.PRODUCT_SUBGROUP
                           ) for row in product_dict_pd}

nontop = nontop.withColumn('PROD_LST', getProdCDFromId(product_dict_nm)('PRODUCT_ID'))

nontop = nontop.select(['INN', f.col('COEF_PRODUCT_CD').alias("POTENTIAL")] +
                       [f.col('PROD_LST')[0].alias('CRM_PRODUCT_ID'), 
                        f.col('PROD_LST')[1].alias('PRODUCT_CD_MMB'),
                        f.col('PROD_LST')[2].alias('PRODUCT_SHORT_NM'),
                        f.col('PROD_LST')[3].alias('PRODUCT_GROUP'),
                        f.col('PROD_LST')[4].alias('PRODUCT_SUBGROUP')
                       ]).filter("PRODUCT_CD_MMB is not Null")

In [338]:
nontop.show()

,INN,POTENTIAL,CRM_PRODUCT_ID,PRODUCT_CD_MMB,PRODUCT_SHORT_NM,PRODUCT_GROUP,PRODUCT_SUBGROUP
0,5079005278,766.200012,1-2AZ4PW6S,2GIS_VIVESKA,2GIS-Вывеска,Экосистема,2GIS
1,5079005285,3832.199951,1-XNQFAFZ,DELOVAYA SREDA,Деловая среда-Подключение к Платформе Деловая ...,Экосистема,Деловая среда
2,5079006987,3832.199951,1-XNQFAFZ,DELOVAYA SREDA,Деловая среда-Подключение к Платформе Деловая ...,Экосистема,Деловая среда
3,5079006987,411.839996,1-MP71XI8,LYURIST,Юридические решения-Юрист для бизнеса,Экосистема,Юридические решения
4,507900751574,3929.560791,1-1Z85A72,OVERDRAFT,Овердрафт,Кредитование,Кредитование
5,507900751574,3928.852783,1-1GUC,ACQUIRING,Торговый эквайринг,Эквайринг,Эквайринг
6,507900751574,3832.199951,1-XNQFAFZ,DELOVAYA SREDA,Деловая среда-Подключение к Платформе Деловая ...,Экосистема,Деловая среда
7,507900751574,3714.423340,1-1GVC,CREDIT,Оборот. кредит-е,Кредитование,Кредитование
8,507900751574,1911.679565,1-HLPSULB,CREDCORPCARD,Кредитная бизнес-карта,Кредитование,Кредитная бизнес-карта
9,507900751574,848.261292,1-ASDFAMH,EVOTOR,Эвотор-Покупка смарт-терминала,Смарт-терминал,Эквайринг

In [340]:
mean_nontop = nontop.groupBy('CRM_PRODUCT_ID').agg(f.mean('POTENTIAL').cast(IntegerType()).alias('MEAN_POTENTIAL'),
                                                   f.first('PRODUCT_CD_MMB').alias('PRODUCT_CD_MMB'),
                                                   f.first('PRODUCT_SHORT_NM').alias('PRODUCT_SHORT_NM'),
                                                   f.first('PRODUCT_GROUP').alias('PRODUCT_GROUP'),
                                                   f.first('PRODUCT_SUBGROUP').alias('PRODUCT_SUBGROUP')
                                                  ).orderBy(
                                                            f.col("MEAN_POTENTIAL").desc()
                                                           )

mean_nontop.cache()

DataFrame[CRM_PRODUCT_ID: string, MEAN_POTENTIAL: int, PRODUCT_CD_MMB: string, PRODUCT_SHORT_NM: string, PRODUCT_GROUP: string, PRODUCT_SUBGROUP: string]

In [341]:
mean_nontop.count()

61

In [342]:
mean_nontop.show()

,CRM_PRODUCT_ID,MEAN_POTENTIAL,PRODUCT_CD_MMB,PRODUCT_SHORT_NM,PRODUCT_GROUP,PRODUCT_SUBGROUP
0,1-K3MF6Z8,2147483647,SMARTCARD,Смарт кредитная бизнес-карта,Кредитование,Кредитная бизнес-карта
1,1-79LMUVD,2147483647,FACTORING,Факторинг,Факторинг,Факторинг
2,1-EO0QXLI,2147483647,SMARTCRED,Смарт-кредит,Кредитование,Кредитование
3,1-1GVC,610759488,CREDIT,Оборот. кредит-е,Кредитование,Кредитование
4,1-1GW0,552343325,SALARYPROJ,ЗП (ФОТ),Зарплатные проекты,Зарплатные проекты
5,1-115HHZO,454389826,LEASING,Предзаявка в Сбербанк Лизинг,Кредитование,Лизинг
6,1-115HHYO,421709676,CORPCARD,Бизнес карта,Бизнес-карта,Бизнес-карта
7,1-1GUC,216869799,ACQUIRING,Торговый эквайринг,Эквайринг,Эквайринг
8,1-115HHZC,50552855,RKO,Открытие расчетного счета,РКО,РКО
9,1-CZ3R1Y,44477681,INSURANCE,Страхование,Страхование,Страхование

## OFFER_PRIORITY

In [343]:
priority = hive.sql("select * from {}.{} where inn is not Null and load_dttm >= timestamp('2021-04-01')".format(conn_schema, 'OFFER_PRIORITY'))

In [344]:
priority_part = priority.select('INN', 
                                'CRM_PRODUCT_ID', 
                                f.col('offer_priority').alias("POTENTIAL") 
                                )

In [345]:
priority_part = priority_part.join(product_dict_sp, on='CRM_PRODUCT_ID', how='left_outer').select('INN', 
                                                                                                  'CRM_PRODUCT_ID', 
                                                                                                  'PRODUCT_CD_MMB',
                                                                                                  'PRODUCT_SHORT_NM',
                                                                                                  'PRODUCT_GROUP',
                                                                                                  'PRODUCT_SUBGROUP',
                                                                                                  'POTENTIAL').filter("PRODUCT_CD_MMB is not Null")

In [346]:
mean_priority = priority_part.groupBy('CRM_PRODUCT_ID').agg(f.mean('POTENTIAL').cast(IntegerType()).alias('MEAN_POTENTIAL'),
                                                            f.first('PRODUCT_CD_MMB').alias('PRODUCT_CD_MMB'),
                                                            f.first('PRODUCT_SHORT_NM').alias('PRODUCT_SHORT_NM'),
                                                            f.first('PRODUCT_GROUP').alias('PRODUCT_GROUP'),
                                                            f.first('PRODUCT_SUBGROUP').alias('PRODUCT_SUBGROUP')
                                                           ).orderBy(f.col("MEAN_POTENTIAL").desc())

mean_priority.cache()

DataFrame[CRM_PRODUCT_ID: string, MEAN_POTENTIAL: int, PRODUCT_CD_MMB: string, PRODUCT_SHORT_NM: string, PRODUCT_GROUP: string, PRODUCT_SUBGROUP: string]

In [347]:
mean_priority.cache()

DataFrame[CRM_PRODUCT_ID: string, MEAN_POTENTIAL: int, PRODUCT_CD_MMB: string, PRODUCT_SHORT_NM: string, PRODUCT_GROUP: string, PRODUCT_SUBGROUP: string]

In [348]:
mean_priority.count()

49

## Union Offers

In [349]:
union_offers = mean_priority.unionAll(mean_nontop).select('CRM_PRODUCT_ID', 
                                                          'PRODUCT_CD_MMB', 
                                                          'PRODUCT_SHORT_NM',
                                                          'PRODUCT_GROUP',
                                                          'PRODUCT_SUBGROUP',
                                                          'MEAN_POTENTIAL')
union_offers = union_offers.drop_duplicates()

In [350]:
union_offers = union_offers.join(deals_succ, on=['PRODUCT_CD_MMB'], how='left_outer').select(
                                                                                             'CRM_PRODUCT_ID',
                                                                                             'PRODUCT_CD_MMB',
                                                                                             'PRODUCT_SHORT_NM',
                                                                                             'PRODUCT_GROUP',
                                                                                             'PRODUCT_SUBGROUP',    
                                                                                             'MEAN_POTENTIAL',
                                                                                             'cnt_deals_succ',
                                                                                             'total_sum_rub'          
                                                                                             )


union_offers = union_offers.join(deals_deny, on=['PRODUCT_CD_MMB'], how='left_outer').select( 
                                                                                             'CRM_PRODUCT_ID',
                                                                                             'PRODUCT_CD_MMB',
                                                                                             'PRODUCT_SHORT_NM',
                                                                                             'PRODUCT_GROUP',
                                                                                             'PRODUCT_SUBGROUP',    
                                                                                             'MEAN_POTENTIAL',
                                                                                             'cnt_deals_deny',
                                                                                             'cnt_deals_succ',
                                                                                             'total_sum_rub'
                                                                                             )

union_offers = union_offers.drop_duplicates()

In [351]:
fin = union_offers.groupBy('CRM_PRODUCT_ID').agg( f.first('PRODUCT_CD_MMB').alias('PRODUCT_CD_MMB'),
                                                  f.first('PRODUCT_SHORT_NM').alias('PRODUCT_SHORT_NM'),
                                                  f.first('PRODUCT_GROUP').alias('PRODUCT_GROUP'),
                                                  f.first('PRODUCT_SUBGROUP').alias('PRODUCT_SUBGROUP'),
                                                  f.first('MEAN_POTENTIAL').alias('MEAN_POTENTIAL'),
                                                  f.sum('cnt_deals_succ').alias('cnt_deals_succ'.upper()),
                                                  f.sum('cnt_deals_deny').alias('cnt_deals_deny'.upper()),
                                                  f.sum('total_sum_rub').alias('total_sum_rub'.upper()),
                                                  ).orderBy(f.col("MEAN_POTENTIAL").desc(),
                                                            f.col("cnt_deals_succ").desc()
                                                           )

In [352]:
df = fin.filter(~f.isnull('cnt_deals_succ')).toPandas()

In [353]:
df.head()

,CRM_PRODUCT_ID,PRODUCT_CD_MMB,PRODUCT_SHORT_NM,PRODUCT_GROUP,PRODUCT_SUBGROUP,MEAN_POTENTIAL,CNT_DEALS_SUCC,CNT_DEALS_DENY,TOTAL_SUM_RUB
0,1-2X6RWK2B,SPASIBO_BUSINESS,"Программа лояльности ""Спасибо Бизнес""",Экосистема,СберСпасибо,2147483647,2284,18.0,0
1,1-EO0QXLI,SMARTCRED,Смарт-кредит,Кредитование,Кредитование,2147483647,1198,4917.0,1351566
2,1-1GVC,CREDIT,Оборот. кредит-е,Кредитование,Кредитование,2147483647,694,300.0,164146022
3,1-K3MF6Z8,SMARTCARD,Смарт кредитная бизнес-карта,Кредитование,Кредитная бизнес-карта,2147483647,691,2055.0,343246
4,1-2UI5D8E1,DELOVAYA_SREDA-FORUM_SBER,Деловая среда-Форум Сбер Бизнес Live,Экосистема,Деловая среда,2147483647,74,42.0,1002

In [354]:
df.to_excel("/opt/workspace/ektov1-av_ca-sbrf-ru/notebooks/site_idprod_deals_rank.xlsx", index = False, encoding='utf8')